---
layout: default
---
<div class="container">
  {% include header.html %}
  <div class="container-block">
    <div class="sidebar">
      {% include toc-sidebar.html %}
      {% include contact.html %}
      {% include languages.html %}
      {% include education.html %}
      {% include skills.html %}
    </div>

    <div class="main">
      {% include career-profile.html %}
      {% include toc-main.html %}
      {% include experience.html %}
      {% include projects.html %}
      {% include publications.html %}
      {% include volunteering.html %}
    </div>
  </div>
  {% include footer.html %}
</div>
