.footer {
    @include body-text;
    color: var(--fg-color-title-sm);
    font-size: 0.8em;
    font-weight: 100;

    .credit {
    }
    .link {
        font-weight: normal;
    }
    .source {
        display: flex;
        align-items: center;
    }
    .icon {
        width: 14px;
        height: 14px;
    }
    .text {
        margin-left: 5px;
    }
}
